.footer {
  background: #f0f2f5;
  height: 200px;
  margin-top: 150px;
  width: 100%;
  padding-top: 100px;

  &_container {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
  }

  &_logo {
    font-size: 35px;
    font-weight: bold;
    color: #00547f;
  }
  &_left {
    font-size: 18px;
    a {
      text-decoration: none;
    }
  }
}
